body{
    font-family: 'Alegreya Sans SC';
}

h3{
  font-size: 30px;
}

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  transition: all .5s ease;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  background-color: #3d0a3c;
}

.open {
  opacity: 1;
  visibility: visible;
}

nav.mobile-menu {
  text-align: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: none;
  background: none;
}

.mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-menu li {
  align-items: center;
  flex: 1;
  line-height: 15vh;
  float: none;
}

.mobile-menu a {
  font-size: 1.5em;
  transition: all 0.5s ease;
  display: block;
  text-decoration: none;
}

.margin-clear {
  margin-top: 10px;
  margin-right: 10px;
}

.outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.brand-logo img{
  width: 100px;
  padding-top: 15px;
}

.navegacao{
  background-color: transparent;
  margin-top: -15px;
}

.navegacao .container{
  width: 90%;
}

#home{
  background-image: linear-gradient(to left, rgba(61, 10, 60, 0.75), rgba(67, 23, 57, 0.75)), url('images/home.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenthome{
  text-align: center;
}

.contenthome img{
  font-size: 40px;
  margin-top: 200px;
  width: 140px;
}

.contenthome h1{
  color: white;
  font-size: 30px;
}

.contenthome i{
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 40px;
  margin-left: -15px;
}

hr{
  height: 2px;
  border: none;
  background-color: #3d0a3c;
  width: 200px;
  margin-top: -60px;
  margin-bottom: 80px;
}

#quemsomos{
  text-align: center;
}

#quemsomos p{
  font-size: 25px;
  font-weight: 300;
}

#quemsomos h1, #principios h1, #servicos h1, #equipe h1, #contato h1{
  text-align: center;
  color: #3e0a3d;
  font-size: 40px;
  padding: 50px 0;
}

#quemsomos h3{
  font-weight: 300;
  color: #3e0a3d;
  text-align: justify;
  padding-bottom: 80px;
}

.parallax-container{
  background-color: rgba(61, 10, 60, 0.75);
}

.parallax-container h3{
  color: white!important;
  font-weight: 300!important;
  margin-top: 200px;
}


#servicos{
  text-align: center;
}

.servicos h3{
  color: #3e0a3d;
  padding-bottom: 130px;
  font-weight: 300;
}

.servicoslide{
    height: 100vh;
}

.caption{
  background-color: #3e0a3d;
  margin-top: 30px;
  padding: 1px 25px;
  width: 250px;
  color: white;
}

#principios{
  text-align: center;
  color: #3e0a3d;
  margin-bottom: 50px;
}

#principios .container{
  width: 90%;
}

#principios img{
  width: 100px;
}

.cartao{
  margin-bottom: 50px;
}

#principios p{
  font-size: 17px;
  text-align: center;
}

#equipe{
  background-color: #3e0a3d;
  text-align: center;
}

#equipe h1{
  color: #FFF;
}

#equipe hr{
  background-color: #FFF;
}

.equipe{
  margin-bottom: 50px;
}

.modalcard{
  color: white;
  margin-bottom: 35px;
  padding: 20px 0;
}

.modal{
  margin-top: 75px;
}

.modal h1{
  padding-top: 0px!important;
}

.modal-footer{
  padding-bottom: 200px!important;
}

.modal, 
.modal-footer{
  background-color: #3e0a3d!important;
}

.modal img{
  width: 200px;
}

.modal h3{
  color: white;
  font-weight: 300;
  font-size: 20px;
}

.modal .btn{
  border: 1px solid white;
}

.modal .btn:hover{
  background-color: white;
  color: #3e0a3d;
}

.slides{
  height: 200px!important;
  background-color: #3e0a3d!important;
}

.slider{
  height: 230px!important;
  background-color: #3e0a3d!important;
}

.slides h5{
  padding-top: 60px;
}

.slider .indicators .indicator-item.active{
  background-color: purple!important;
}

#clientes{
  margin-top: 50px;
}

#clientes h1{
  color: #3e0a3d;
  text-align: center;
  font-size: 40px;
  padding: 50px 0;
}

#clientes h3{
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

#contato{
  text-align: center;
  margin-top: 30px;
  color: #3e0a3d;
}

.btn{
  background-color: #3e0a3d;
  text-align: center;
  margin: 30px;
  border: none;
}

#contato .btn{
  margin-bottom: 0px;
}

#contato{
  margin-bottom: -50px;
}

.btn:hover, .btn:focus{
  background-color: #3e0a3d;
}

#footer{
  background-color: #3e0a3d;
  text-align: center;
  height: 50px;
  padding: 1px;
  color: white;
  margin-top: 100px;
}

input[type="text"], textarea{
  width: 50%!important;
}

input[type="text"]:focus{
  border-bottom: 1px solid #3e0a3d!important;
}

textarea{
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}

textarea:focus{
  border-bottom: 2px solid #3e0a3d;
}

@media(max-width: 600px){
  #quemsomos h1{
    font-size: 30px;
  }

  #quemsomos h3{
    font-size: 30px;
  }

  .parallax-container h3{
    margin-top: 150px;
    font-size: 25px!important;
  }
}

@media(max-width: 992px){
  input[type="text"], textarea{
    width: 100%!important;
  }
}